#main-nav{
    background-color: #a35e76;
    color: white;
}
#row1{
    height: 50px;
}
.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip: 2px;
    background-color: whitesmoke;
    color: black;
    border-radius: 7px 7px 0px 0px;
}

li{
    margin-left: 15%;
    margin-top: 1.6%;
    font-size: 20px;
    width: 100px;
    text-align: center;
    color: white;
}
li:hover{
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip: 2px;
    background-color: whitesmoke;
    color: black;
    border-radius: 7px 7px 0px 0px;
    
}
#row2{
    border: 1px solid green;
    height: 550px;
    background-image: url("../static/pitch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.para1{
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
    color: white;
    font-weight: bold;
    
}
