#addpitch{
    margin-top: 5%;
    width: 70%;
    margin-left: 8%;
}
#cont1{
    display: inline-flex;
}
#row1{
    display: inline-flex;

}
#row2{
    height: 100px;
    margin-top: 1.2%;
}
.section{
    border: 0.5px solid rgb(168, 167, 167);
    height: 500px;
    border-radius: 5px;
}
#link2{
    color: rgb(36, 40, 41);
    margin-left: 80%;
    margin-top: 1.5%;
    font-weight: bold;
}

.btn{
    margin-top: 2%;
    margin-left: 80%;
}
.archive{
    border: 1px solid rgb(207, 197, 197);
    margin-top: 2%;
    background-color: rgb(227, 253, 227);
    width: 100%;
}
#tablinks{
    height: 50px;
    background-color: rgb(141, 71, 71);
    color: white;
}
#tablinks1{
    height: 50px;
    background-color: rgb(29, 204, 175);
    color: white;
}
li{
    margin-top: 1%;
}
#list{
    color: white;
}
#list1{
    margin-left: 5%;
}
#list1:hover{
    font-weight: bold;
}
#like{
    font-size: 20px;
    color: green;
}
#dislike{
    font-size: 20px;
    color: red;
}
.votes{
    margin-left: 3%;
}