.content{
    width: 90%;
    margin-left: 5%;
}
.main{
    width: 60%;
    margin-left: 20%;
    background-color: #af7e8f;
}
.message{
    width: 60%;
    margin-left: 20%;
    margin-top: 1%;
}
a{
    font-size: 20px;
    font-weight: bold;
}
.btn{
    margin-top: 5%;
    background-color: blue;
    border: 1px solid blue;
}
.text{
    font-size: 20px;
}
#div2{
    margin-top: 2%;
    background-color: whitesmoke;
}