<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pitch</title>
    <link rel="stylesheet" href="../static/pitch.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="addpitch" class="form-group">
        <textarea class="form-control" placeholder="Post a Pitch ..."></textarea>
        <button class="btn btn-primary btn-block btn-sm ">Post Pitch</button>
    </div>
    
    <div class="container ">
        <div class="row ">
            <div id="wrapper" class="home">
                <div class="archive">
    
                    <ul id="tablinks" class="nav nav-tabs categories">
                        <li id="list1" class="active"><a onclick="openSection(event, 'technologies')" class="tablinks" id="list" href="#technologies" data-toggle="tab">Technologies</a></li>
                        <li id="list1"><a onclick="openSection(event, 'business')" class="tablinks" id="list" href="#business" data-toggle="tab">Business</a></li>
                        <li id="list1"><a class="tablinks"  id="list" href="#project" data-toggle="tab">Websites</a></li>
                        <li id="list1"><a class="tablinks" id="list" href="#product" data-toggle="tab">Product</a></li>
                    </ul>
    
                    
                    <div class="tab-content mt30 mb30">
                        <div class="tabcontent" class="tab-pane active" id="technologies">
                            <ul id="post-list">
                    
                                <li id="first">
                                    <a href="">
                                        Collins.N
                                    </a>
                                    <p class="mb0">posted on Jan 25</p>
                                    
                                    <p class="headline"><i>
                                        “Hi, my name is Collins and my company develops and designs personalized 
                                        online sales funnels [what your company does]. That means two things: one, 
                                        online customers enjoy a flawless user experience tailored to their needs and interests, 
                                        and two: our clients get automated solutions that dramatically boost sales 
                                        [unique business proposition]. We helped our last client increase online revenue by 120 
                                        percent month-over-month [hard numbers behind your results]. Does your company have any 
                                        experience with e-commerce automation? [engaging question]”
                                        </i>
                                    </p>
                                    <small class="votes">
                                        <i id="like" class="fa fa-thumbs-up"></i>&nbsp;&nbsp; 20
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <i id="dislike" class="fa fa-thumbs-down"></i>&nbsp;&nbsp; 7
                                    </small>
                                </li>
    
                                <li>
                                    <a href="">
                                        Derek.K
                                    </a>
                                    <p class="mb0">posted on Dec 19</p>
                                    <p class="headline"><i>
                                        “Hi, my name is Derek and I noticed that your company hasn’t made the upgrade to solar power.
                                         Numerous companies have made the switch to solar technology and couldn’t be happier with the results.
                                        They are keeping costs down by wasting less electricity and have found an increase in sales and productivity.
                                         Employees know that they are making a difference and helping the environment by using green technology,
                                          which makes them feel better and work harder for your company! By becoming a “green” company, you will
                                         have a better public image and be on the cutting edge of business technology.
                                         </i>
                                    </p>
                                    <small class="votes">
                                        <i  id="like" class="fa fa-thumbs-up"></i>&nbsp;&nbsp; 10
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <i id="dislike" class="fa fa-thumbs-down"></i>&nbsp;&nbsp; 0
                                    </small>
                                </li>

                            </ul>
                        </div>
                        <div class="tabcontent" class="tab-pane" id="business" >
                            <ul id="post-list">
                    
                                <li id="first">
                                    <a href="">
                                    Linda.M
                                    </a>
                                    <p class="mb0">posted on Apr 20</p>
                                    
                                    <p class="headline"><i>
                                        “Hi, my name is Linda and I am here representing ______ water filters. Are you familiar with our products? 
                                        We are moving into several new markets and I am hoping to bring you to the forefront of our brand new campaign.
                                         By choosing our water filters, you are making a decision to provide your employees with fresh, clean water.
                                          Our products are made with a new type of filtering system that is built to provide healthy water free of dangerous
                                         minerals and other types of pollutants. I know that you are based in the downtown area where having a clean water
                                         system is very important. Our company will have a booth set up in Room 3 tomorrow afternoon where we will be 
                                        giving out free samples of our water filters. I look forward to seeing you tomorrow afternoon. Here is my business
                                         card in case you have any further questions and would like to get in touch…”
                                        </i>
                                    </p>
                                    <small class="votes">
                                        <i id="like" class="fa fa-thumbs-up"></i>&nbsp;&nbsp; 20
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <i id="dislike" class="fa fa-thumbs-down"></i>&nbsp;&nbsp; 7
                                    </small>
                                </li>
    
                                
                            </ul>
                        </div>
                        <div class="tabcontent" class="tab-pane" id="project">
                        </div>
                        <div class="tabcontent"class="tabcontent"class="tabcontent" class="tab-pane" id="product">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>




    <script>
        function openSection(evt, section) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(section).style.display = "";
          evt.currentTarget.className += " active";
        }
        
        // Get the element with id="defaultOpen" and click on it
        document.getElementByClass("active").click();
    </script>
</body>
</html>